body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
}

header,
main,
footer {
    padding: 20px;
}

header {
    text-align: center;
    background-color: #222;
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;
  }


.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    text-align: center;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(49, 121, 209, 0.75);
}

.buttons {
    margin: 10%;
    text-align: center;
}

main {
    max-width: 1500px;
    margin: 20px auto;
}

main h2 {
    margin-bottom: 20px;
}

.about,
.skill,
.grid,
.project1 {
    margin: 20px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(49, 121, 209, 0.75);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 20px;
}

@media (max-width: 768px) {
    .social-icons {
        flex-direction: row;
      }

    .social-icons img {
        width: 100px;
        height: 100px;
      }

    .btn-hover {
        /* width: 100%; */
        margin: 10px 0;
    }

    .about,
    .skill,
    .project1 {
        margin: 10px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        padding: 10px;
        text-align: center;
        font-size: 1.5em;
    }

    .social-icons img {
        width: 80px;
        height: 80px;
    }

    .social-icons a {
        font-size: 1.5em;
    }

    .about p,
    .skill h2,
    .skill ol,
    .project p {
        font-size: 16px;
    }

    .project img {
        border-radius: 5px;
    }
}
